.formContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.formBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.formWindow {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    width: 50%;
    max-width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.formWindow input,
.formWindow textarea {
    width: 100%;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    resize: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #FF3B00;
}

.buttonInLine{
    width: 100%;
}